<a class="blog-hero" [routerLink]="['/blogs', blog.slug]">
  <div class="blog-hero__media" [class.blog-hero__media--placeholder]="!blog.image">
    @if (blog.image) {
      <img class="blog-hero__image" [src]="blog.image" [alt]="blog.title" />
    }
    <span class="blog-hero__flag">{{ 'feature.blogs.latest_in_role' | translate }}</span>
  </div>

  <div class="blog-hero__content">
    @if (blog.qualification?.name) {
      <span class="blog-hero__topic">{{ blog.qualification!.name }}</span>
    }
    <h2 class="blog-hero__title">{{ blog.title }}</h2>
    @if (blog.subtitle) {
      <p class="blog-hero__excerpt">{{ blog.subtitle }}</p>
    }

    <div class="blog-hero__meta">
      <app-avatar [name]="blog.author.name" [image]="blog.author.image" [size]="40" />
      <div class="blog-hero__meta-text">
        <span class="blog-hero__author">{{ blog.author.name }}</span>
        <span class="blog-hero__sub">
          @if (blog.published_at) {
            {{ blog.published_at | date: 'mediumDate' }}
          }
          @if (blog.published_at && blog.reading_time) { &middot; }
          @if (blog.reading_time) {
            {{ blog.reading_time }} {{ 'feature.blogs.min_read' | translate }}
          }
        </span>
      </div>
    </div>
  </div>
</a>
